<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="mySQL" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      <dataSource class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource">
        <driverClass>com.mysql.jdbc.Driver</driverClass>
        <url>jdbc:mysql://localhost:3306/selenium_java</url>
        <user>root</user>
        <password>i011155</password>
      </dataSource>
    </connectionSource>
  </appender>
 
 <appender name="SQLite" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      <driverClass>org.sqlite.JDBC</driverClass>
      <url>jdbc:sqlite:logback.db</url>
    </connectionSource>
  </appender>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <!-- by defult encoders are assigned the type "ch.qos.logback.classic.encoder.PatternLayoutEncoder" -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="info">
    <appender-ref ref="Console"/>
    
    <appender-ref ref="mySQL"/>
    <!-- Could not create an Appender of type [ch.qos.logback.classic.db.Database]. ch.qos.logback.core.util.DynamicClassLoadingException: Failed to instantiate type ch.qos.logback.classic.db.Database
    -->
    <appender-ref ref="SQLite"/>
  </root>
</configuration>
