**/bin/**
**/.settings
**/.classpath
**/.project
**/.gitignore
**/.allure
**/work/**
**/target/**
**/*.log
**/src/**/*.jar
**/build/**
**/test-output/**
/pom.xml.releaseBackup
/release.properties
/settings.xml
*.unc-backup~
*.uncrustify
*~

