<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Randomized Test Set" thread-count="1">
  <test name="Test">
    <classes>
      <class name="com.github.sergueik.testng.utils.RandomizedSetsTest">
    </class>
    </classes>
  </test>
</suite>
