<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test" parallel="tests" thread-count="1">
  <listeners>
    <listener class-name= "retry.Reporter" />
  </listeners>
  <test verbose="1" name="test">
    <packages>
      <package name="tests"/>
    </packages>
  </test>
</suite>