<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1" verbose="10">
  <parameter name="host" value="localhost"/>
  <parameter name="port" value="4444"/>
  <parameter name="browser" value="chrome"/>
  <!-- can not be empty -->
  <parameter name="execution" value="standalone"/>
  
  <!-- TODO: emport  envirnment-parsing code -->
  <parameter name="webdriver.chrome.driver" value="${env:USERPROFILE}\Downloads\chromedriver.exe"/>
  <test name="Selenium Browser Log Capture Test">
    <classes>
      <class name="example.AppTest">
        <methods>
          <include name="consoleLogTest"/>
          <include name="loggingTest"/>
                  </methods>
      </class>
    </classes>
  </test>
</suite>
