<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1" verbose="10">
  <parameter name="selenium.host" value="localhost"/>
  <parameter name="selenium.run" value="local"/>
  <parameter name="selenium.port" value="4444"/>
  <parameter name="selenium.browser" value="chrome"/>
  <parameter name="driver.path" value="${HOME}/Downloads/chromedriver-2.40-linux64"/>
  <test name="Selenium Browser Log Capture Test">
    <classes>
      <class name="com.mycompany.app.AppTest"/>
      <!--
 [ERROR] org.testng.TestNGException: org.xml.sax.SAXParseException; lineNumber: 15; columnNumber: 15; The content of element type "classes" must match "(class*,parameter*)".
      <methods>
        <include name="LoggingTest"/>
      </methods>
-->
    </classes>
  </test>
</suite>
