<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite">
	<test thread-count="5" name="BDD Test">
		<classes>
			<class name="org.cucumber.testRunners.TestRunnerWithTestNG" />
		</classes>
	</test> <!-- BDD Test -->
</suite> <!-- BDD Test Suite -->
