<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Visual Automation">
  <listeners>
    <listener class-name="org.utils.ScreenshotTestListener"/>
  </listeners>
  <test name="RunTest" preserve-order="true">
    <classes>
      <class name="org.utils.VisualTest"/>
      <class name="org.utils.ShareDataTest"/>
    </classes>
  </test>
</suite>