<?xml version="1.0"?>
<!-- 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> 
uncommenting will cause maven to try to find dtd file locally
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- by defult encoders are assigned the type "ch.qos.logback.classic.encoder.PatternLayoutEncoder" -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
 
</log4j:configuration>
