<?xml version="1.0"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
  <bufferSize value="100"/>
  <connectionType value="Finisar.SQLite.SQLiteConnection, SQLite.NET, Version=0.21.1869.3794, Culture=neutral, PublicKeyToken=c273bd375e695f9c"/>
  <connectionString value="Data Source=c:\\developer\\sergueik\\selenium_java\\logback\\log4net.db;Version=3;"/>
  <commandText value="INSERT INTO Log (Date, Level, Logger, Message) VALUES (@Date, @Level, @Logger, @Message)"/>
  <parameter>
    <parameterName value="@Date"/>
    <dbType value="DateTime"/>
    <layout type="log4net.Layout.RawTimeStampLayout"/>
  </parameter>
  <parameter>
    <parameterName value="@Level"/>
    <dbType value="String"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%level"/>
    </layout>
  </parameter>
  <parameter>
    <parameterName value="@Logger"/>
    <dbType value="String"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%logger"/>
    </layout>
  </parameter>
  <parameter>
    <parameterName value="@Message"/>
    <dbType value="String"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message"/>
    </layout>
  </parameter>
</appender>
  <root level="info">
    <appender-ref ref="AdoNetAppender"/>
  </root>

</log4j:configuration>
