<configuration>
  <appSettings>
    <add key="browser" value="IE" />
    <add key="url" value="http://www.google.com/" />
    <add key="title" value="Google" />
    <add key="baseURL" value="http://www.google.com/" />
    <add key="baseURL_GROUP2" value="http://goccl4.uatcarnival.com/" />
    <add key="baseURL_GROUP1" value="http://www4.uatcarnival.com/" />
    <add key="event_log" value="Application" />
    <add key="phantomjs_executable_path" value="D:\TOOLS\PHANTOMJS" />
  </appSettings>
</configuration>