**/bin/**
**/.settings
**/.classpath
**/.project
**/.gitignore
**/target/**
**/*.log
**/src/**/*.jar
**/build/**
**/dist/**
**/test-output/**
/pom.xml.releaseBackup
/release.properties
/settings.xml
**/.*.sw?
*.unc-backup~
*.uncrustify
*~
