**/bin/**
**/binaries/**
**/.settings
**/.classpath
**/.project
**/.gitignore
**/work/**
**/workbook/**
**/target/**
**/*.log
**/src/**/*.jar
**/build/**
**/test-output/**
/pom.xml.releaseBackup
/release.properties
/settings.xml
*.unc-backup~
*.uncrustify
*~

