<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sample" thread-count="1">
  <parameter name="host" value="localhost"/>
  <parameter name="port" value="4444"/>
  <parameter name="browser" value="chrome"/>
  <parameter name="execution" value="remote"/>
  <test name="Test">
    <classes>
      <class name="example.RegularPageTest">
    </class>
    </classes>
  </test>
</suite>
