<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="ExcelSuiteParserTest">
    <classes>
      <class name="org.test.ExcelSuiteParserTest"/>
      <class name="org.test.ExcelSuiteParserTest2"/>
    </classes>
  </test>
  <test name="ExcelTestCaseTest">
    <classes>
      <class name="org.test.ExcelTestCaseTest"/>
    </classes>
  </test>
  <test name="ExcelTestSuiteTest">
    <classes>
    <!--  TODO: restore original namespace, 'net.randomsync.testng.excel' -->
      <class name="org.test.ExcelTestSuiteTest"/>
    </classes>
  </test>
</suite>
